@font-face {
  font-family: 'Airbnb Cereal App';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('~/assets/fonts/AirbnbCerealLight.woff') format('woff');
}

@font-face {
  font-family: 'Airbnb Cereal App';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~/assets/fonts/AirbnbCerealBook.woff') format('woff');
}

@font-face {
  font-family: 'Airbnb Cereal App';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('~/assets/fonts/AirbnbCerealMedium.woff') format('woff');
}

@font-face {
  font-family: 'Airbnb Cereal App';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~/assets/fonts/AirbnbCerealBold.woff') format('woff');
}

@font-face {
  font-family: 'Airbnb Cereal App';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('~/assets/fonts/AirbnbCerealExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Airbnb Cereal App';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('~/assets/fonts/AirbnbCerealBlack.woff') format('woff');
}
